flask
flask-mysqldb

# code untuk bidang-checking.html
# <!-- {% if products|length == 0 %}
# <tr>
#     <td colspan="6">
#         <div class="empty-table-message">
#             <p class="text-muted mb-3 btn-empty">Tidak ada produk</p>
#         </div>
#     </td>
# </tr>
# {% else %} -->
# <!-- {% endif %} -->